{
  "semi": false,
  "singleQuote": true,
  "trailingComma": "es5",
  "printWidth": 3000,
  "tabWidth": 2,
  "useTabs": false,
  "bracketSpacing": true,
  "bracketSameLine": true,
  "singleAttributePerLine": true,
  "htmlWhitespaceSensitivity": "strict",
  "jsxBracketSameLine": true,
  "proseWrap": "never",
  "overrides": [
    {
      "files": "*.php",
      "options": {
        "parser": "html"
      }
    }
  ]
}
